@charset "UTF-8";
html, body, div, h1, h2, h3, h4, h5, h6, span, ul, li, ol, table, tr, td, i, form, input, p, textarea, dl, dt, select {
  margin: 0;
  padding: 0;
}

li, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

input {
  outline: none;
}

html, body {
  background-color: #fff;
  width: 100%;
}

header {
  height: 50px;
  border: 1px solid #ccc;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

header .title {
  color: #999;
  line-height: 50px;
}

header .title a {
  color: #999;
}

header .title a:hover {
  color: #4e4e4e;
}

header .Shopping-char {
  margin-left: 30px;
  margin-right: 120px;
}

header .Shopping-char .car {
  line-height: 45px;
  margin-right: 30px;
  overflow: hidden;
}

header .Shopping-char .car img {
  width: 25px;
  height: 25px;
}

header .Shopping-char .service img {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.nav {
  width: 100%;
}

.nav nav {
  display: flex;
  justify-content: flex-start;
  height: 100px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.nav nav .Shopping-char {
  display: none;
}

.nav nav .borger {
  width: 30px;
  height: 40px;
}

.nav nav .borger div {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 3px;
  display: none;
}

.nav nav .logo {
  width: 77px;
  height: 29px;
  line-height: 1;
  display: inline-block;
  margin-top: 34px;
  overflow: hidden;
  margin-left: 180px;
}

.nav nav > ul {
  position: relative;
  width: 100%;
  margin-left: 300px;
}

.nav nav > ul > .search {
  display: inline-block;
  height: 40px;
  margin-top: 0;
  width: 212px;
  height: 40px;
  line-height: 26px;
  border: 1px solid #ccc;
  border-radius: 5px;
  vertical-align: middle;
  padding: 6px 0;
  margin-top: 30px;
}

.nav nav > ul > .search > .sear img {
  width: 46px;
  height: 26px;
}

.nav nav > ul > .search input {
  height: 30px;
  display: inline-block;
  border: 0;
  height: 26px;
  line-height: 26px;
  width: 160px;
  vertical-align: middle;
  color: #000;
  font-size: 15px;
  text-indent: 10px;
  border-left: 1px solid #ccc;
}

.nav nav > ul > li {
  float: left;
  margin-right: 50px;
}

.nav nav > ul > li .second {
  width: 1900px;
  border: 1px solid #000;
  position: absolute;
  left: 50%;
  margin-left: -950px;
  bottom: auto;
  z-index: 5;
  overflow: hidden;
}

.nav nav > ul > li .second .coona {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  border: 1px solid #000;
}

.nav nav > ul > li .second .coona > ul {
  float: left;
}

.nav nav > ul > li .blo a::after {
  display: block;
}

.nav nav > ul > li .bol a::after {
  display: block;
}

.nav nav > ul > li > a {
  position: relative;
  display: inline-block;
  line-height: 100px;
  font-size: 17px;
  font-weight: bold;
}

.nav nav > ul > li > a:hover {
  text-decoration: none;
  color: #000;
}

.nav nav > ul > li > a::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #f00;
  position: absolute;
  left: 0;
  bottom: 1px;
  display: none;
}

.fix_right {
  position: fixed;
  right: 50px;
  height: 35%;
  width: 60px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
  padding: 15px 10px;
}

.fix_right .scr_top {
  height: 33.3%;
  border-bottom: solid 1px #4e4e4e;
}

.fix_right .scr_top img {
  width: 100%;
  height: 100%;
}

.fix_right .car1 {
  height: 33.3%;
  border-bottom: solid 1px #4e4e4e;
}

.fix_right .car1 img {
  width: 100%;
  height: 100%;
}

.fix_right .serv1 {
  height: 33.3%;
}

.fix_right .serv1 img {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  position: relative;
}

.banner .swiper-container {
  padding-bottom: 45px;
}

.banner .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
}

.banner .swiper-pagination-bullet-active {
  opacity: .5;
  background: #000;
}

.main1 {
  width: 100%;
  overflow: hidden;
  background-color: #0c1011;
}

.main1 .box1 {
  position: relative;
}

.main1 .box1 .links a {
  width: 30%;
  height: 50%;
  position: absolute;
  top: 130px;
  right: 100px;
}

.main1 .box2 {
  position: relative;
}

.main1 .box2 .start {
  width: 1200px;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.main1 .box2 .start div {
  width: 25%;
  overflow: hidden;
}

.main1 .box2 .start .item1 {
  position: relative;
}

.main1 .box2 .start .item1 .info {
  width: 100%;
  position: absolute;
  bottom: -300;
  opacity: 0;
}

.main1 .box2 .start .item1 .info img {
  width: 100%;
}

.main1 .box2 .start .item2 {
  position: relative;
}

.main1 .box2 .start .item2 .info {
  width: 100%;
  position: absolute;
  bottom: -300;
  opacity: 0;
}

.main1 .box2 .start .item2 .info img {
  width: 100%;
}

.main1 .box2 .start .item3 {
  position: relative;
}

.main1 .box2 .start .item3 .info {
  width: 100%;
  position: absolute;
  bottom: -300;
  opacity: 0;
}

.main1 .box2 .start .item3 .info img {
  width: 100%;
}

.main1 .box2 .start .item4 {
  position: relative;
}

.main1 .box2 .start .item4 .info {
  width: 100%;
  position: absolute;
  bottom: -300;
  opacity: 0;
}

.main1 .box2 .start .item4 .info img {
  width: 100%;
}

.main1 .box3 {
  z-index: 1;
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

.main1 .box3 .shop {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 100px;
}

.main1 .box3 .shop .lines {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: right;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  background-image: url(../img/line-dashed.svg);
  background-repeat: no-repeat;
  background-size: 1000px auto;
  background-position: 30px 8px;
}

.main1 .box3 .shop .lines a {
  font-family: MFMingHei;
  font-style: italic;
  transform: scaleY(1.5);
  display: inline-block;
  width: 120px;
  height: 26px;
  margin-right: 30px;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #d00;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center right;
  font-weight: 600;
  transform: scaleY(1.2);
}

.main1 .box3 .shop .right {
  display: flex;
  flex-wrap: wrap;
}

.main1 .box3 .shop .right .hove {
  transform: translateY(-5px);
  box-shadow: 0 0 10px 1px rgba(156, 156, 156, 0.4);
  -webkit-box-shadow: 0 0 10px 1px rgba(156, 156, 156, 0.4);
  -moz-box-shadow: 0 0 10px 1px rgba(156, 156, 156, 0.4);
  z-index: 100;
}

.main1 .box3 .shop .right .hove > ul {
  display: block;
  height: 40px;
}

.main1 .box3 .shop .right .commodity {
  padding: 10px;
  width: 285px;
  height: 345px;
  position: relative;
  transition: all .5;
}

.main1 .box3 .shop .right .commodity > a > img {
  width: 100%;
}

.main1 .box3 .shop .right .commodity > p {
  margin-bottom: 5px;
}

.main1 .box3 .shop .right .commodity > h6 {
  margin-top: 5px;
}

.main1 .box3 .shop .right .commodity > h6 a {
  height: 25px;
  line-height: 25px;
  color: #000;
  font-size: 17px;
  font-weight: 500;
}

.main1 .box3 .shop .right .commodity > ul {
  overflow: hidden;
  height: 0;
  display: flex;
  flex-direction: row;
}

.main1 .box3 .shop .right .commodity > ul .prev {
  background: url(../img/向左.png) no-repeat center center;
  display: inline-block;
  height: 30px;
  background-size: 18px 18px;
  width: 30px;
}

.main1 .box3 .shop .right .commodity > ul .next {
  background: url(../img/向右.png) no-repeat center center;
  display: inline-block;
  background-size: 18px 18px;
  height: 30px;
  width: 30px;
}

.main1 .box3 .shop .right .commodity > ul li {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #eee;
  margin: 0 4px;
}

.main1 .box3 .shop .right .commodity > ul li img {
  width: 100%;
  height: 100%;
}

.main1 .box3 .title {
  display: flex;
  justify-content: flex-end;
}

.main1 .box3 .title .box_bg {
  background-image: url(../img/text-something.svg);
  height: 55px;
  width: 630px;
  background-size: 100% auto;
  background-position: top center;
}

.main1 .box4 {
  z-index: 0;
  margin-top: -100px;
  margin-bottom: -140px;
}

.main1 .box5 .cona {
  width: 1200px;
  margin: 0 auto;
}

.main1 .box5 .cona .title {
  display: flex;
  justify-content: flex-end;
}

.main1 .box5 .cona .title .box_bg {
  background-image: url(../img/text-something.svg);
  height: 55px;
  width: 630px;
  background-size: 100% auto;
  background-position: top center;
}

.main1 .box5 .cona .shop {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 100px;
}

.main1 .box5 .cona .shop .lines {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: right;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  background-image: url(../img/line-dashed.svg);
  background-repeat: no-repeat;
  background-size: 1000px auto;
  background-position: 30px 8px;
}

.main1 .box5 .cona .shop .lines a {
  font-family: MFMingHei;
  font-style: italic;
  transform: scaleY(1.5);
  display: inline-block;
  width: 120px;
  height: 26px;
  margin-right: 30px;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #d00;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center right;
  font-weight: 600;
  transform: scaleY(1.2);
}

.main1 .box5 .cona .shop .right {
  display: flex;
  flex-wrap: wrap;
}

.main1 .box5 .cona .shop .right .hove {
  height: 360px !important;
  transform: translateY(-5px);
  box-shadow: 0 0 10px 1px rgba(156, 156, 156, 0.4);
  -webkit-box-shadow: 0 0 10px 1px rgba(156, 156, 156, 0.4);
  -moz-box-shadow: 0 0 10px 1px rgba(156, 156, 156, 0.4);
  z-index: 100;
}

.main1 .box5 .cona .shop .right .hove > ul {
  display: block;
  height: 40px;
}

.main1 .box5 .cona .shop .right .commodity {
  padding: 10px;
  width: 285px;
  height: 345px;
  position: relative;
}

.main1 .box5 .cona .shop .right .commodity > a > img {
  width: 100%;
}

.main1 .box5 .cona .shop .right .commodity > p {
  margin-bottom: 5px;
}

.main1 .box5 .cona .shop .right .commodity > h6 {
  margin-top: 5px;
}

.main1 .box5 .cona .shop .right .commodity > h6 a {
  height: 25px;
  line-height: 25px;
  color: #000;
  font-size: 17px;
  font-weight: 500;
}

.main1 .box5 .cona .shop .right .commodity > ul {
  overflow: hidden;
  height: 0;
  display: flex;
  flex-direction: row;
}

.main1 .box5 .cona .shop .right .commodity > ul .prev {
  background: url(../img/向左.png) no-repeat center center;
  display: inline-block;
  height: 30px;
  background-size: 18px 18px;
  width: 30px;
}

.main1 .box5 .cona .shop .right .commodity > ul .next {
  background: url(../img/向右.png) no-repeat center center;
  display: inline-block;
  background-size: 18px 18px;
  height: 30px;
  width: 30px;
}

.main1 .box5 .cona .shop .right .commodity > ul li {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #eee;
  margin: 0 4px;
}

.main1 .box5 .cona .shop .right .commodity > ul li img {
  width: 100%;
  height: 100%;
}

.main1 .box6 {
  margin-top: 50px;
  width: 1920px;
  margin-left: -960px;
  left: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main1 .box6 img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main1 .box6 .bg_blo a {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

.main1 .box6 .bg_blo a:hover {
  background: none;
}

.main1 .box6 .bg_blo a:first-child {
  width: 15.72%;
  height: 28.69%;
  top: 10.7%;
  left: 18.7%;
}

.main1 .box6 .bg_blo a:nth-child(2) {
  width: 15.72%;
  height: 28.6%;
  top: 41%;
  left: 18.7%;
}

.main1 .box6 .bg_blo a:nth-child(3) {
  width: 15.72%;
  height: 28.67%;
  top: 71.3%;
  left: 18.7%;
}

.main1 .box6 .bg_blo a:nth-child(4) {
  width: 30.25%;
  height: 89.3%;
  top: 10.7%;
  left: 34.9%;
}

.main1 .box6 .bg_blo a:nth-child(5) {
  width: 15.72%;
  height: 28.69%;
  top: 10.7%;
  left: 65.57%;
}

.main1 .box6 .bg_blo a:nth-child(6) {
  width: 15.65%;
  height: 28.89%;
  top: 40.92%;
  left: 65.62%;
}

.main1 .box6 .bg_blo a:nth-child(7) {
  width: 15.7%;
  height: 28.7%;
  top: 71.3%;
  left: 65.61%;
}

.main1 .box7 {
  padding: 50px 0;
  width: 100%;
  background-color: #f00;
}

.main1 .box7 h2 {
  background: url(../img/text-followus-w.svg) no-repeat center center;
  height: 34px;
  background-size: auto 100%;
}

.main1 .box7 p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  line-height: 40px;
  margin-top: 5px;
}

.main1 .box7 .we_wo {
  margin-top: 30px;
  padding-bottom: 50px;
}

.main1 .box7 .we_wo ul {
  width: 250px;
  margin: 0 auto;
}

.main1 .box7 .we_wo ul li {
  float: left;
  position: relative;
}

.main1 .box7 .we_wo ul li .erweima {
  display: none;
  z-index: 2;
  width: 180px;
  height: 180px;
  position: absolute;
  top: -190px;
  left: -40px;
}

.main1 .box7 .we_wo ul li .erweima::after {
  content: '';
  border: 8px solid transparent;
  border-top-color: #fff;
  position: absolute;
  bottom: -16px;
  left: 45%;
}

.main1 .box7 .we_wo ul li .erweima img {
  width: 100%;
  height: 100%;
}

.main1 .box7 .we_wo ul li a {
  display: inline-block;
  height: 85px;
  width: 85px;
  margin: 0 15px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 80px auto;
  background-position: center center;
}

.main1 .box7 .we_wo ul li a:first-child {
  background: url(../img/wechat-w.svg) no-repeat;
}

.main1 .box7 .we_wo ul li:last-child a {
  background: url(../img/weibo-w.svg) no-repeat;
}

footer {
  color: #fff;
  padding: 50px 0;
  background-color: #000;
}

footer .main {
  display: flex;
  justify-content: flex-start;
  width: 1280px;
  margin: 0 auto;
}

footer .main > .left img {
  width: 250px;
  height: 100%;
}

footer .main > .right {
  margin-left: 200px;
}

footer .main > .right a {
  color: #fff;
}

footer .main > .right .top {
  margin-bottom: 20px;
}

footer .main > .right .middle {
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  header {
    display: none;
  }
  .borger {
    position: absolute;
    left: 50px;
    top: 65%;
    margin-top: -20px;
  }
  .borger div {
    display: block !important;
  }
  .nav nav {
    display: flex;
    height: 50px;
    position: relative;
    border-bottom: 1px solid #ccc;
  }
  .nav nav .Shopping-char {
    display: block;
    position: absolute;
    right: 50px;
  }
  .nav nav .Shopping-char .car {
    line-height: 50px;
    margin-right: 30px;
    overflow: hidden;
  }
  .nav nav .Shopping-char .car img {
    width: 25px;
    height: 25px;
  }
  .nav nav .Shopping-char .service img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
  }
  .nav nav .search {
    display: none !important;
  }
  .nav nav .sear {
    position: absolute;
    left: 100px;
    top: 50%;
  }
  .open {
    transform: translateX(0%) !important;
  }
  .nav nav > ul {
    transition: all 1s;
    transform: translateX(-100%);
    position: absolute;
    background-color: #fff;
    left: 0;
    margin-top: 50px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    z-index: 5;
  }
  .nav nav > ul li {
    text-align: center;
  }
  .nav nav > ul li a {
    text-align: center;
    position: relative;
    display: inline-block;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
  }
  .nav nav .logo {
    width: 63px;
    height: 34px;
    line-height: 1;
    display: inline-block;
    margin-top: 9px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -31.5px;
  }
  .banner img {
    width: 100%;
  }
  .box1 img {
    width: 100%;
  }
  .main1 .box2 .start {
    width: 100%;
    position: absolute;
    left: 0;
    left: 0%;
    margin-left: -0px;
    bottom: 0;
    display: flex;
    flex-direction: row;
  }
  .fix_right {
    display: none;
  }
  .main1 .box3 {
    width: 100%;
  }
  .main1 .box3 .shop .left {
    display: none;
  }
  .main1 .box4 img {
    width: 100%;
  }
  .main1 .box5 .cona {
    width: 100%;
  }
  .main1 .box5 .cona .shop .right .shose {
    display: none;
  }
  .main1 .box6 {
    margin-top: 50px;
    width: 100%;
    margin-left: 0px;
    left: 0%;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  footer .main {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  footer .main > .right {
    margin-left: 0px;
    margin-top: 50px;
  }
}
